:root{
    --main-color: #9C9C9C;
    --seconary-color: #FFFFFF;
    --accent-color: #000000;    
}

* {
    padding: 0;
    margin: 0;
}

header {
    border: 1px solid red;
    background-color: #000000; width: 1875px; height: 83px;
}
nav{
    display: flex;
    flex-direction: row;
}

li{
    padding:0 120px;
}

main{
    border: 1px solid blue; width: 1875px; height: 1524;
    background-color:  #9C9C9C;
}

footer{
    border: 1px solid palegoldenrod;
}
